In [5]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

In [112]:
from datetime import datetime, date
import string
import random
import time
import pandas as pd

In [6]:
spark = SparkSession.builder.getOrCreate()

In [7]:
spark

In [13]:
df = spark.createDataFrame([
    Row(a = 1, b = 2., c = date(2022,1,1), d = datetime(2022,1,1,12,0)),
    Row(a = 2, b = 3., c = date(2022,2,1), d = datetime(2022,1,2,12,0)),
    Row(a = 3, b = 4., c = date(2022,3,1), d = datetime(2022,1,3,12,0))], schema = "a long, b double, c date, d timestamp"
)

In [23]:
df.show()

+---+---+----------+-------------------+
|  a|  b|         c|                  d|
+---+---+----------+-------------------+
|  1|2.0|2022-01-01|2022-01-01 12:00:00|
|  2|3.0|2022-02-01|2022-01-02 12:00:00|
|  3|4.0|2022-03-01|2022-01-03 12:00:00|
+---+---+----------+-------------------+

In [159]:
unix_timestamp(lit(timestamp),'yyyy-MM-dd HH:mm:ss').cast("timestamp")

Column<'CAST(unix_timestamp(2022-04-22 15:58:18, yyyy-MM-dd HH:mm:ss) AS TIMESTAMP)'>

In [175]:
row = []
for i in range(0, 500):
    row.append(('Fulano ' + str(i), random.randint(100,500), random.choice(['Cliente','Fornecedor'])))
    
df_spark = spark.createDataFrame(row, schema = 'nome string, valor long, tipo string')
df_spark.limit(5).toPandas()

       nome  valor        tipo
0  Fulano 0    455  Fornecedor
1  Fulano 1    292     Cliente
2  Fulano 2    401  Fornecedor
3  Fulano 3    131     Cliente
4  Fulano 4    243     Cliente

In [144]:
from pyspark.sql.functions import lit, unix_timestamp

In [99]:
lit(None)

Column<'NULL'>

In [192]:
timestamp = datetime.fromtimestamp(time.time()).strftime('%Y-%m-%d %H:%M:%S')

In [195]:
df_spark = df_spark.withColumn('datetime', unix_timestamp(lit(timestamp),'yyyy-MM-dd HH:mm:ss').cast("timestamp"))

In [196]:
df_spark.show()

+---------+-----+----------+-------------------+
|     nome|valor|      tipo|           datetime|
+---------+-----+----------+-------------------+
| Fulano 0|  455|Fornecedor|2022-04-22 16:04:48|
| Fulano 1|  292|   Cliente|2022-04-22 16:04:48|
| Fulano 2|  401|Fornecedor|2022-04-22 16:04:48|
| Fulano 3|  131|   Cliente|2022-04-22 16:04:48|
| Fulano 4|  243|   Cliente|2022-04-22 16:04:48|
| Fulano 5|  359|Fornecedor|2022-04-22 16:04:48|
| Fulano 6|  180|   Cliente|2022-04-22 16:04:48|
| Fulano 7|  399|   Cliente|2022-04-22 16:04:48|
| Fulano 8|  247|Fornecedor|2022-04-22 16:04:48|
| Fulano 9|  486|Fornecedor|2022-04-22 16:04:48|
|Fulano 10|  194|Fornecedor|2022-04-22 16:04:48|
|Fulano 11|  323|   Cliente|2022-04-22 16:04:48|
|Fulano 12|  183|Fornecedor|2022-04-22 16:04:48|
|Fulano 13|  151|Fornecedor|2022-04-22 16:04:48|
|Fulano 14|  382|Fornecedor|2022-04-22 16:04:48|
|Fulano 15|  145|Fornecedor|2022-04-22 16:04:48|
|Fulano 16|  446|Fornecedor|2022-04-22 16:04:48|
|Fulano 17|  206|Fornecedor|2022-04-22 16:04:48|
|Fulano 18|  341|Fornecedor|2022-04-22 16:04:48|
|Fulano 19|  298|   Cliente|2022-04-22 16:04:48|
+---------+-----+----------+-------------------+
only showing top 20 rows